{% extends 'user/base_form.html' %}
{% block title %}Delete {{post.title}}{% endblock title %}

{% block icon %}
<div class="feature bg-danger bg-gradient text-white rounded-3 mb-3">
    <i class="bi bi-x-circle"></i>
</div>
{% endblock icon %}

{% block form_head %}<h1 class="fw-bolder" id='form-head'>Delete post {{post.title}}</h1>{% endblock form_head %}
{% block form_info %}<p class="lead fw-normal text-muted mb-0">Are you sure for delete '{{post.title}}' post ?</p>{% endblock form_info %}        

{% block btn %}
<div class="d-grid">
    <button class="btn btn-danger btn-lg" id="submitButton" type="submit" > Delete </button>
    <a class="btn btn-secondary btn-lg" style='margin-top: 1rem;' href="{% url 'post-detail' post.slug %}" > Cancel </a>
</div>
{% endblock btn %} 