#profile{
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
}

.alert-danger{
    margin-top: 1rem;
}
#post_img img{
    width: 100%;
    height: auto;
}
#area_input{
    height: 10%;
}
#link-btn{
    width: 50%;
    margin-top: 1rem;
    border-radius: 5rem;
}