{% extends 'user/base_form.html' %}

{% block form_head %} Enter the sended code {% endblock form_head %}
{% block form_info %} 
we send a code to {{otp.email}} , in time {{otp.end_time.time}} your code invalided , (the coode will be printed in terminal)
if you want choose another email try again after time {{otp.end_time.time}} 
<div id='timer'></div>
{% endblock form_info %}

{% block icon %}
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
    <i class="bi bi-chat-dots"></i>
</div>
{% endblock icon %}