{% extends 'user/base_form.html' %}

{% block form_head %}<h1 class="fw-bolder" id='form-head'>Confirm the form for logout.</h1>{% endblock form_head %}
{% block form_info %}<p class="lead fw-normal text-muted mb-0">Dear {{user.username}} are you sure for logout from your account ?</p>{% endblock form_info %}

{% block icon %}
<div class="feature bg-danger bg-gradient text-white rounded-3 mb-3">
    <i class="bi bi-person-x"></i>
</div>
{% endblock icon %}


{% block btn %}
<div class="d-grid">
    <button class="btn btn-danger btn-lg" id="submitButton" type="submit"> Confirm </button>
    <a class="btn btn-secondary btn-lg" style='margin-top: 1rem;' href="{% url 'user-profile' user.username %}" > Cancel </a>
</div>
{% endblock btn %}