{% extends 'user/base_form.html' %}{% load static %}
 

{% block form_head %}Signup for free{% endblock form_head %}
{% block form_info %} Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus atque, accusamus est reiciendis eveniet quasi, magni sequi ipsa libero deserunt itaque alias explicabo doloremque sunt dolore excepturi eos, hic aperiam. {% endblock form_info %}

{% block icon %}
<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
    <i class="bi bi-person-plus"></i>
</div>
{% endblock icon %}

