<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
            <div class="col-auto">
                {% for link in links %}
                <a class="link-light small" href="{{link.url}}"> {% if link.icon %}<i class='bi {{link.icon}}'></i>{% else %} {{link.name}} {% endif %} </a>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>